<% content_for :title, "Create New Tenant" %>


<% content_for :main_content do %>
<hr>
<h1 class="page_heading"><span>Create New Tenant</span></h1>
<hr>
<%= render 'form' %>
<% end %>

<%= link_to 'Back', tenants_path %>
