<% content_for :title, 'New Issue' %>

<% content_for :main_content do %>
<hr>
<h1 class="page_heading">New Issue
<br>
<span class="small"><%= current_user.unit.property.street %> <%= current_user.unit.name %></span>
</h1>
<hr>

<%= render 'form' %>

<% end %>
