<% content_for :title, 'Edit Property' %>

<% content_for :main_content do %>
<hr>
<h1 class="page_heading"><span>Edit Property</span></h1>
<hr>
<div class="centered-form">
<%= render 'form' %>
</div>

<% end %>