<% content_for :title, 'New Property' %>

<% content_for :main_content do %>
<hr>
<h1 class="page_heading"><span>New Property</span></h1>
<hr>
<form id="new_property_form" class="centered-form" action="/properties" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="hidden" name="property[landlord_id]" value="<%= current_user.id %>">
	<div class="form-group">
		<label>Property Type</label>
		<select class="form-control" name="property[building_type]">
			<option>Select...</option>
			<option value="apartment">Apartment</option>
			<option value="single_family">Single Family Home</option>
			<option value="apartment">Apartment</option>
			<option value="duplex_triplex_townhouse">Duplex/Triplex/Townhouse</option>
			<option value="dormitory">Dormitory</option>
		</select>
	</div>
	<div class="form-group">
		<label>Street</label>
		<input class="form-control" type="text" name="property[street]">
	</div>
	<div class="form-group">
		<label>City</label>
		<input class="form-control" type="text" name="property[city]">
	</div>
	<div class="form-group">
		<label>State</label>
		<input class="form-control" type="text" name="property[state]">
	</div>
	<div class="form-group">
		<label>Zip Code</label>
		<input class="form-control" type="text" name="property[zip_code]">
	</div>
	<div class="form-group">
	  <label>Pets Allowed?</label>
		<br>
		<input type="hidden" name="property[pets]" value="false">
		<label class="switch">
	  <input class="form-control" type="checkbox" name="property[pets]" value="true">
	  <div class="slider round"></div>
	</div>
	</label>
	<div class="form-group">
		<label>Neighborhood</label>
		<input class="form-control" type="text" name="property[neighborhood]">
	</div>
	<div class="form-group">
		<label>Upload image</label>
		<input class="form-control" type="file" name="property[img]">
	</div>
	
	<div class="form-group">
		<input class="btn btn-default btn-block label-main" type="submit" value="Create Property">
	</div>
</form>
<% end %>