<% content_for :title, "Dwell | Free Property Management Software for Landlords and Renters" %>

<!-- MAIN CONTENT -->
<% content_for :main_content do %>
	<div class="row heading">
		<h1 class="col-sm-12 text-center">Be a Rockstar Landlord</h1>
	</div>
	<br>

	<!-- Collect Rent Online -->
	<div class="row">
		<div id="collect_rent" class="col-sm-12 marketing_section">
			<div class="text-center">
				<img src="<%= image_path('icon_money_bag.png', alt: 'money bag') %>">
				<h2>Collect Rent Online</h2>
			</div>
			<p class="centered-blurb">Set it and forget it rent collection, Dwell payments are secure and automatic, and the money goes straight to your bank account. And yes, it’s 100% free for landlords.</p>
			<h4 class="text-center">Set up and invite your tenants to pay</h4>
			<p class="centered-blurb">Set your rent amount, due dates, move-in charges and deposits, and invite your tenants to pay. Tenants can set up recurring rent payments, pay one-time charges, and never have to worry about mailing you a check again.</p>
		</div>
	</div>

	<!-- Tenant Screening -->
	<div class="row">
		<div id="tenant_screening" class="col-sm-12 marketing_section">
			<div class="text-center">
				<img src="<%= image_path('generic-user.png', alt: 'user') %>">
				<h2>Tenant Screening</h2>
			</div>
			<p class="centered-blurb">Tenant screening has never been so easy.  Completely free for landlords, Dwell Screening Tools make finding the perfect tenant simple.</p>
			<h4 class="text-center">Credit Reports</h4>
			<p class="centered-blurb">Our reports come directly from our partner Experian – the industry leader in credit reporting. We show you easy-to-understand overviews and detailed payment history for every applicant. You’ll instantly know whether your tenants are financially responsible.</p>
			<h4 class="text-center">Background Checks</h4>
			<p class="centered-blurb">Through our partner Checkr, we search state and county records for criminal and eviction history. If something turns up in an applicant’s history, we’ll generate a detailed report that you can download.</p>
		</div>
	</div>

	<!-- Property Listings -->
	<div class="row">
		<div id="property_listings" class="col-sm-12 marketing_section">
			<div class="text-center">
				<img src="<%= image_path('generic-home-black.png', alt: 'home') %>">
				<h2>Property Listings</h2>
			</div>
			<p class="centered-blurb">List your properties and attract quality applicants. Show off your properties, invite renters to apply, and set up application preferences with Dwell Listings.</p>
			<h4 class="text-center">Market your Rentals</h4>
			<p class="centered-blurb">Dwell listings help your property stand out, with a gallery of photos, lease terms, amenities, and pet policies.</p>
			<h4 class="text-center">Calculate Rent</h4>
			<p class="centered-blurb">Get a rent estimate for your property based on comparables in the area, so you know exactly how much to charge.</p>
			<h4 class="text-center">Find the Perfect Tenant</h4>
			<p class="centered-blurb">When you create a listing in Dwell, you’ll receive a link you can share anywhere—in an email, on social media, or on your website. You can also advertise the listing on our partner sites for free.</p>
			<h4 class="text-center">Build Your Brand</h4>
			<p class="centered-blurb">Create a gallery of all your property listings on a single, customizable page. You can share your page anywhere, including your own website.</p>
		</div>
	</div>

	<!-- Rental Applications -->
	<div class="row">
		<div id="rental_applications" class="col-sm-12 marketing_section">
			<div class="text-center">
				<img src="<%= image_path('icon_application.png', alt: 'application') %>">
				<h2>Rental Applications</h2>
			</div>
			<p class="centered-blurb">Make paper applications a thing of the past. Share your application and let your applicants do the rest.
Dwell makes finding tenants easy.</p>
			<h4 class="text-center">Share anywhere you advertise</h4>
			<p class="centered-blurb">Post your Dwell applications directly into your listings anywhere you list your properties. Applicants can apply directly with their full Dwell Renter Profile.</p>
			<h4 class="text-center">Everything in one place</h4>
			<p class="centered-blurb">Quickly see employment, salary, residential history, credit report and references - only the stuff that matters - so you can make a responsible decision.</p>
			<h4 class="text-center">Screening Tools</h4>
			<p class="centered-blurb">Optionally, require all applicants to submit a background check and credit report as part of their application. It’s 100% free for landlords.</p>
		</div>

		<div class="col-sm-12">
			<a id="btn_try" class="btn btn-default btn-big label-main" href="/login/sign_in">Take a Free Tour!</a>
		</div>

	</div>

<% end %>