<% content_for :title, 'New Unit' %>

<% content_for :main_content do %>
<hr>
<h1 class="page_heading">
New Unit
<br>
<a href="/properties/<%= @property.id %>" class="small"><%= @property.street %></a>
</h1>
<hr>

<%= render 'form' %>

<% end %>