// Place all the styles related to the Units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.one_tenant .btn {
 	display: block;
 	font-size: 14px;
 	line-height: 20px;
 	padding: 6px 12px;
 	margin: 10px auto;
 }