<% content_for :title, 'New Account' %>
<h1>New Account</h1>

<% content_for :main_content do %>
<hr>
<h1 class="page_heading"><span>New Account</span></h1>
<hr>
<div class="row">
<%= render 'form' %>
</div>
<% end %>